<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jugadores</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header id="header"></header>

    <main style="background-color: #2b3055; padding: 1rem">
      <div id="app" class="container">
        <h1 style="text-align: center; padding: 0.5rem; color: white">
          Jugadores
        </h1>
        <section v-if="error">
          <p style="color:white">
            Lo sentimos, no podemos mostrarte los datos solicitados en este
            momento
          </p>
        </section>
        <section v-else>
          <section v-if="cargando">
            <div class="d-flex justify-content-center align-items-center">
              <div
                class="spinner-border text-primary spinner-border-sm"
                role="status"
              >
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </section>
          <section v-else>
            <a class="btn btn-success" href="jugador_nuevo.html"
              >Agregar jugador</a
            >

            <div class="table-responsive" style="margin-top: 1rem">
              <table class="table table-bordered">
                <thead style="color: white">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Altura</th>
                    <th scope="col">Posicion</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody style="color: white">
                  <tr v-for="j in jugadores" >
                    <td scope="row">{{j.id}}</td>
                    <td>{{j.nombre}}</td>
                    <td>{{j.edad}}</td>
                    <td>{{j.altura}}</td>
                    <td>{{j.posicion}}</td>
                    <td>
                      <img
                        :src="j.imagen"
                        :alt="j.nombre"
                        width="80"
                        height="80"
                      />
                    </td>
                    <td>
                      <a class="btn btn-primary" href="jugador_editar.html"
                        >Editar</a
                      >
                      <button
                        type="button"
                        class="btn btn-danger"
                        v-on:click="eliminar(j.id)"
                      >
                        Eliminar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </section>
      </div>
    </main>

    <footer id="footer"></footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>

    <script src="./js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/jugadores.js"></script>
  </body>
</html>
